@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  padding-top: 160px;
  /* Adjust this value if needed */
}

/* hero-section css */
.hero-section {
  background-image: url(assets/img/contact.jpg);
  background-position: center;
  height: 700px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 15px 80px 15px;
}

.bg {
  height: max-content;
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
}

.content p {
  font-size: 1.5rem;
  color: whitesmoke;
}

.search-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}
#search-icon {
  color: green;
}
.search-box .form-select,
.search-box .btn {
  margin-bottom: 10px;
}

.search-box .input-group-text {
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .hero-section {
    height: max-content;
  }
  .content,
  .search-box {
    position: static;
    transform: none;
    width: 80%;
    margin-bottom: 20px;
  }

  .content {
    text-align: center;
  }

  .bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* card container index.php */

/* features */

/* testimonials css */

/* scroll up button */
.scroll-up {
  background-color: #3cc2b1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Initially hidden */
}
.scroll-up i {
  color: white;
  font-size: 24px;
}
